.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #343a40; /* Màu nền */
  }
  
  .sidebar .nav-link {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar .nav-link:hover {
    background-color: #495057; /* Màu nền khi hover */
    text-decoration: none;
  }
  
  .sidebar .nav-link i {
    margin-right: 10px; /* Tạo khoảng cách giữa icon và text */
  }
  
  .sidebar .nav-link.active {
    background-color: #007bff; /* Màu nền cho mục đang active */
    color: white;
  }
  